{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Databases-Tri2</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Our Project</h5>
                    <p class="card-text">
                        <p><strong>Purpose</strong></p>
                        <ol>
                            <li>We want people to learn more about electric cars, as they are the vehicles of tomorrow and are more environmentally friendly than gasoline cars.</li>
                            <li>We also want to help people make informed decisions when choosing which electric car to buy. </li>
                        </ol>
                        <p><strong>Audience</strong></p>
                        <ol>
                            <li>People interested in electric cars and their advantages, as well as those wanting to buy electric cars.</li>
                        </ol>
                        <p><strong>Goals</strong></p>
                        <ol>
                            <li>Have enough information about electric cars on our website so that people are well informed about electric car companies not in the mainstream.</li>
                            <li>We also want to help people make informed decisions if they are wanting to buy a car from any of the companies listed on our website.</li>
                            <li>Apply a variety of services for users to play with - Car builder, random fact generator, live rankings, car game</li>
                        </ol>
                    </p>
                    <a href="https://github.com/TayKimmy/databases-tri2" class="btn btn-primary">Repository</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Our Scrum Board</h5>
                    <p class="card-text">
                        <ol>
                            <li>Contains the different tasks that we have to do weekly.</li>
                            <li>Helps us to organize or tasks and lets us know what we have completed and what we still need to do.</li>
                            <li>Also helps us to know who still needs to do their work or do a certain task.</li>
                        </ol>
                    </p>
                    <a href="https://github.com/users/Firestorm0986/projects/2" class="btn btn-primary">Scrum Board</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Our Website</h5>
                    <p class="card-text">
                        <h5><strong>Content</strong></h1>
                            <p><strong>Home Page</strong></p>
                            <ol>
                                <li>Contains basic information about electric cars and will have a car builder plus a notes page</li>
                            </ol>
                            <p><strong>Tesla</strong></p>
                            <ol>
                                <li>Contains basic information about Tesla and a live ranking list</li>
                            </ol>
                            <p><strong>Rivian</strong></p>
                            <ol>
                                <li>Contains basic information about Rivian and their car lineup</li>
                            </ol>
                            <p><strong>LUCID</strong></p>
                            <ol>
                                <li>Contains basic information about Lucid and a car charging game</li>
                            </ol>
                            <p><strong>NIO</strong></p>
                            <ol>
                                <li>Contains basic information about NIO and a random car fact generator</li>
                            </ol>
                            <p><strong>Sign-up</strong></p>
                            <ol>
                                <li>Users can sign in to the website and access the different aspects</li>
                            </ol>
                    </p>
                    <a href="https://firestorm0986.github.io/frontend-proj/" class="btn btn-primary">Website</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}